*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    font-size: 30px;
}
h2{
    background-color: blue;
    display: inline-block;
    padding: 10px 50px;
    box-sizing: border-box;
    text-align: center;
    margin: 15px 5px;
    border-radius: 10px ;
    /* con esto los cuadrados se hacen redondos dependiendo de cuantos pixeles se hagan */
    border: 5px solid purple;
/* es una gerarquia para tener un orden expesifico como seria texto luego padding luego border y luego margin */
}