*{
    font-family: "lobster", cursive;
    font-weight: 100;
    font-size: 20px;
}
.caja{
    margin: 25px;
    width: 300px;
    height: 500px;
    display: flex;
}
.caja img{
    height: 100%;
    width: 100%;
    border: 2px solid black;
    object-fit: cover;
    object-position:right;
    /* object-position: es basicamente mover la imagen dentro de un recuadro ya pre hecho; */
}