*{
    padding: 0px;
    margin: 0px;
}
.contac{
font-size: 25px;
background-color: rgba(108, 22, 189, 0.699);
width: 50vw;
height: 50vh;
}
.contac{
    font-size: 25px;
    background-color: rgba(108, 22, 189, 0.349);
    width: 100vw;
    height: 50vh;
    }
/* tecnicamente esto deberia formar una caja morada al rededor de toda la pagina */
.cont{
    font-size: 25px;
    background-color: rgba(137, 43, 226, 0.521);
    width: 50vw;
    height: 50vh;
} 
/* esto genera lo que podria ser el tamaño del escrito */